@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
nav {
    width: 98%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    font-family: sans-serif;
    position: fixed;
    color: #00FFFF;
    left:50%;
    transform: translateX(-50%);
    padding: 10px 30px;
    top: 15px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
} 
nav h1 {
    font-size: 45px;
}
nav i
{
    font-size: 25px;
}
nav .subNav {
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 30px;
    transition: all 1s;
}
nav .subNav a {
    text-decoration: none;
    color: #00FFFF;
    font-size: 23px;
    /* background-color: wheat; */
    padding: 5px;
    font-family: sans-serif;
    position: relative;
}
nav .subNav a::before {
     content: "";
    height: 3px; 
    width: 0%;
    position: absolute;
    background-color: white;
    left: 0px;
    bottom: 0px;
    transition: all 1s;
}
nav .subNav a::after {
    content: "";
    height: 3px;
    width: 0%;
    position: absolute;
    background-color: white;
    right: 0px;
    top: 0px;
    transition: all 1s;
}
nav .subNav a:hover::before, nav .subNav a:hover::after {
    width: 50%;
}
input:checked~.subNav
{
    left: 60%;
}
nav label
{
    display: none;
}
input
{
    display: none;
}
.my-carrier
{
    margin-top: 100px;
    padding: 100px;
}
.my-carrier h1
{
    font-size: 50px;
}
.my-carrier h1:last-child
{
    color: #00FFFF;
   
}
@media only screen and (min-width:300px) and (max-width:600px)
{
    nav .subNav{
        position: fixed;
        background-color: rgba(255, 255, 255, 0.5);
        left: 110%;
        top: 92px;
        width: 40%;
        height: 50vh;
        border-radius: 5px;
        flex-direction: column;
        justify-content: start;
        padding-top: 40px;
        
    }
    .subNav a 
    {
        color: white;
    }
    nav label
    {
        display:block;

}
}
