.cube {
    width: 200px;
    height: 200px;
    position: relative;
    transform-style: preserve-3d;
    animation: spin 5s infinite linear;
    transform: rotateX(-10deg) rotateY(20deg);
    top: 50px;
    left: 50px;
}
.img1{
    width:200px;
    height:150px;
    margin-bottom: 20px;
}
.face {
    position: absolute;
    width: 200px;
    height: 200px;

}
.top {
    background-image: linear-gradient(60deg, rgba(241, 132, 178, 0.5),rgba(2, 30, 46, 0.267));
    transform: rotateX(90deg) translateZ(100px);
}
.bottom {

    background-image: linear-gradient(60deg,rgba(248, 85, 194, 0.267),rgba(139, 252, 246, 0.5));
    transform: rotateX(-90deg) translateZ(170px);
}
.right {
    background-image: linear-gradient(60deg,rgba(240, 100, 154, 0.267),rgba(139, 252, 246, 0.5));
    transform: rotateY(90deg) translateZ(100px);
    height: 270px;
}
.left {
    background-image: linear-gradient(60deg,rgba(2, 30, 46, 0.267),rgba(139, 252, 246, 0.5));
    transform: rotateY(-90deg) translateZ(100px);
    height: 270px;
}
.back{
    background-image: linear-gradient(60deg,rgba(2, 30, 46, 0.267),rgba(139, 252, 246, 0.5));
    transform: rotateX(-180deg) translateZ(100px);
    height: 270px;
}
.front {

    background-image: linear-gradient(60deg,rgba(2, 30, 46, 0.267),rgba(139, 252, 246, 0.5));
    transform: rotateX(0deg) translateZ(100px);
    height:270px;
}
.left-cnt{
    transform: rotate(270deg);
    margin-top: -35px;
    font-size: 30px;
}