*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.values{
    background-color: rgb(0, 12, 9);
    display: flex;
    width:100%;
    justify-content: space-around;
}
.value-left,.value-right{
     width:45%;
    display: flex;
    flex-direction: column;
    gap:50px;

}
.value{
    height:12px;
    border: 1px solid rgb(250, 248, 248);
    border-radius: 10px;   
    background-color: antiquewhite;
     margin-top:-15px;
}
.value-blue{
     height:12px;
      border-radius: 10px;   
      background-color: rgb(102, 241, 241);
      margin-top:-1px;
}
.value-blue-1{
      width:70%;
}
.value-blue-2{
     width:50%;
}
.value-blue-3{
     width:80%;
}
.value-blue-4{
     width:70%;
}
.pre{
display: flex;
justify-content: space-between;
}
.pre>span{
    margin-bottom:-30px;
    color:white
}
@media only screen and (min-width:300px) and (max-width:900px){
    .values{
        flex-direction: column;
        justify-content: center;
        align-items:center ;
    }  
    .value-left,.value-right{
        width:70%;
    }
}